<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Basics</title>
</head>

<body>
    <H1>Welcome to Auth basics</H1>

    <!-- Wherever we will pass the 'layout' tag, it will come in this 'body' ejs mate tag below -->
    <%- body %>


</body>

</html>