<%- layout('boilerplate') %>

    <h1>You are logged in</h1>
    <p>CONGRATULATIONS YOU MADE THIS FAR</p>
    <p>I hope you understood the basic of auth and how it works</p>
    <p>In next version we will be using passport.js</p>

    <a href="/">Back to Home</a>
    <div>
        <form action="/logout" method="POST">
            <button type="submit" class="">Logout</button>
        </form>
    </div>